.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  @include media-breakpoint-up(md) {
    padding-left: $grid-gutter-width/1.5;
    padding-right: $grid-gutter-width/1.5;
  }

  &-wrapper {
    letter-spacing: -0.4em;
    white-space: nowrap;
    position: relative;
  }
  
  &-list {
    &-item {
      position: relative;
      margin: 10px 10px;
      letter-spacing: 0;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      box-shadow: 0 0 10px rgba(48, 58, 67, 0.06);
      
      @include media-breakpoint-up(md) {
        width: 300px;
      }
      @include media-breakpoint-down(sm) {
        width: 270px;
      }
    }
  }
  
  &-controls {
    &-prev,
    &-next {
        position: absolute;
        top: 50%;
        width: 75px;
        height: 119px;
        margin-top: -59px;
        background: url("../images/slider_arrow_left@1x.png") no-repeat 0 0px;
        cursor: pointer;
        
        &.swiper-button-disabled {
          opacity: 0.2;
          cursor: default;
        }
        
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	      only screen and (min--moz-device-pixel-ratio: 1.5),
	      only screen and (min-device-pixel-ratio: 1.5) {
          background: url("../images/slider_arrow_left@2x.png") no-repeat 0 0px;
        }
        
        @include media-breakpoint-down(md) {
          display: none;
        }

        
        /*
        &:before {
          content: "";
          width: 10px;
          height: 29px;
          background: url("../images/arrow-left.png") no-repeat 0 0;
          margin: 45px 0 0 10px;
          float: left;
        }
        */
      }
      &-prev {
        @include media-breakpoint-up(md) {
          left: -21px;
        }
        @include media-breakpoint-down(sm) {
          left: -1px;
        }
        &:before {
        }
      }
      &-next {
        @include media-breakpoint-up(md) {
          right: -21px;
        }
        @include media-breakpoint-down(sm) {
          right: -1px;
        }
        transform: rotate(180deg);
        transform-origin: 50% 50%;
        &:before {
        }
      }
    }
  
}