.donates {
  margin: 0 (-$grid-gutter-width/2);
  
  @include media-breakpoint-up(lg) {
    background: #fff;
    padding: 0 ($grid-gutter-width) 30px;
  }
  
  @include media-breakpoint-down(md) {
    padding: 0 ($grid-gutter-width/3) 10px;
  }
  
  &-filter {
    @extend .filter;
    &-target {
      @include media-breakpoint-up(md) {
        float: left;
        width: 60%;
      }
      @include media-breakpoint-down(md) {
        @include media-breakpoint-up(md) {
          padding-left: $grid-gutter-width/4;
          padding-right: $grid-gutter-width/4;
        }
      }
    }
    &-period {
      text-align: right;
      @include media-breakpoint-up(md) {
        float: right;
        width: 40%;
      }
      @include media-breakpoint-down(md) {
        @include media-breakpoint-up(md) {
          padding-left: $grid-gutter-width/4;
          padding-right: $grid-gutter-width/4;
        }
      }
    }
  }
  
  &-list {
    
    margin-bottom: 20px;   
    
    &-row {
        
        @extend .tableRow;
        
        
        &-cell {
          @include media-breakpoint-up(md) {
            float: left;
          }
        }
        
        &-icon {
          @extend .tableIcon;
        }
        
        &-title {
          font-weight: 700;
          color: #000;
          @include media-breakpoint-up(md) {
            padding: 4px 10px;
            width: 33.33%;
            
            .modal-donates & {
              padding-left: 0;
              width: 40%;
            }
          }
          span {
            font-weight: 400;
            display: block;
            color: $blue-dark;
          }
        }
        
        &-info {
          @include media-breakpoint-up(md) {
            width: 40%;
            padding: 4px 10px;
          }
        }
        &-sum {
          font-weight: 700;
          padding-bottom: 12px;
          @include media-breakpoint-up(md) {
            float: right;
            text-align: right;
            width: 15%;
            padding: 4px 10px;
          }
        }
        &-fields {
          @include media-breakpoint-up(lg) {
            padding: 4px 10px;
            width: 40%;
          }
          @include media-breakpoint-down(md) {
            width: 100%;
            padding: 4px 0;
          }
          &-sum {
            @include media-breakpoint-down(md) {
              @include media-breakpoint-up(sm) {
                width: 50%;
                float: left;
              }
            }
            
            @include media-breakpoint-up(sm) {
              width: 111px;
            }
            @include media-breakpoint-down(xs) {
              width: 100%;
            }
            .form-control {
              width: 100%;
            }
            .form-control-under {
              color: rgba(0, 0, 0, 0.3);
              @include fontSize(15px);
              @include lineHeight(24px);
              font-weight: 400;
              right: 15px;
            }
          }
          &-period {
            padding-left: 40px;
            line-height: 40px;
            @include media-breakpoint-down(md) {
              @include media-breakpoint-up(sm) {
                width: 50%;
                float: left;
              }
            }
            @include media-breakpoint-down(xs) {
              padding-left: 0;
              input[type='checkbox'] {
                width: auto;
                display: inline-block;
              }
            }
            
            input[type="checkbox"] {
              margin-right: 5px;
              margin-top: -2px;
            }
          }
        }
        &-action {
          @include media-breakpoint-up(lg) {
            float: right;
            opacity: 0;
            padding: 4px 10px;
            width: 10%;
            text-align: right;
            
            .donates-list-row:hover & {
              opacity: 1;
            }
          }
          @include media-breakpoint-down(md) {
            float: right;
            margin-top: -54px;
            position: relative;
            z-index: 1;
            @include media-breakpoint-down(sm) {
              @include media-breakpoint-up(sm) {
                margin-top: 0;
              }
            }
          }
          @include media-breakpoint-down(xs) {
            margin-top: -70px;
          }
          .btn-remove {
            @extend .btn-danger-white;
            padding-left: 13px;
            padding-right: 13px;
            .icon {
              margin: 0;
            }
          }
          
        }
        
        @include media-breakpoint-up(lg) {
          &:hover {
            background-color: #fbf9f6;
          }
          &:hover &-action {
            opacity: 1;
          }
        }
    }
  }
  
  &-report {
    margin-bottom: 50px;
    @include maxWidth;
    @include media-breakpoint-up(lg) {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
    
    > .row {
      @include media-breakpoint-down(sm) {
        margin: 0;
      }
    }
    
    &-before {
      max-width: 630px;
      margin-bottom: 25px;
    }
    
    &-table {
      
    }
    
    &-info {
      border-radius: 5px;
      padding: 20px;
      background: $gray-contentBackground;
      color: #646362;
      @include fontSize(13px);
      @include lineHeight(21px);
    }
    
    &-more {
      h2 {
        background: #fff;
        padding: 0 ($grid-gutter-width) 23px;
        margin-left: -$grid-gutter-width/1.5;
        margin-right: -$grid-gutter-width/1.5;
      }
      .donateCarousel-list-item {
        background: #fff;
        padding-bottom: 15px;
      }
    } 
    
  }  
  
  
  &-complete {
    text-align: center;
    padding: 40px 0 20px;
    
    .icon {
      display: block;
      margin: 0 auto 30px;
    }
    
    > span {
      @include fontSize(24px);
      @include lineHeight(36px);
      color: rgba(0,0,0,0.6);
    }
    
    p {
      margin: 30px auto;
      max-width: 300px;
    }
    
    &-share {
      text-align: center;
      padding: 20px 0;
      color: #777;
      
      ul {
        list-style-image: none;
        letter-spacing: 20px;
        li {
          display: inline-block;
          width: 49px;
          height: 49px;
          border-radius: 5px;
          background: white;
          text-align: center;
          line-height: 49px;
          box-shadow: 0 0 9px rgba(0,0,0,0.15);
        }
      }
      
    }
    
    &-links {
      background: white;
      text-align: center;
      padding: 30px 0;
      letter-spacing: 40px;
      
      p {
        margin: 0;
      }
      
      a {
        letter-spacing: 0;
      }
      
    }
  }
  
}