.filter {
    letter-spacing: 17px;
    
    .btn,
    .dropdown,
    .form-group {
      letter-spacing: 0;
    }
    
    @include clearfix;
    @include media-breakpoint-up(lg) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
    @include media-breakpoint-down(md) {
      @include media-breakpoint-up(md) {
        margin-left: -$grid-gutter-width/4;
        margin-right: -$grid-gutter-width/4;
      }
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 0px;
      padding-top: 0px;
    }
    @include media-breakpoint-down(sm) {
      margin-left: -$grid-gutter-width/6;
      margin-right: -$grid-gutter-width/6;
    }
    
    
    &-left {
      @include media-breakpoint-up(md) {
        float: left;
        width: 50%;
      }
      @include media-breakpoint-down(md) {
        @include media-breakpoint-up(md) {
          padding-left: $grid-gutter-width/4;
          padding-right: $grid-gutter-width/4;
        }
      }
    }
    &-right {
      text-align: right;
      @include media-breakpoint-up(md) {
        float: right;
        width: 50%;
      }
      @include media-breakpoint-down(md) {
        @include media-breakpoint-up(md) {
          padding-left: $grid-gutter-width/4;
          padding-right: $grid-gutter-width/4;
        }
      }
    }
    
    .form-control,
    .dropdown {
      letter-spacing: 0;
      border-color: $gray-headerBorder;
      @include media-breakpoint-up(lg) {
        width: auto;
        max-width: 300px;
        display: inline-block;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
      }
      
      [data-level='0'] {
        font-weight: 700;
      }
      [data-level='0'] {
        padding-left: 10px;
      }
      
    }
    .btn {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      font-weight: 400;
      padding: 10px 20px 9px;    
    }
    
  &-link {
    @extend .btn;
    @extend .btn-secondary;
    padding: 8px 0;
    text-align: center;
    width: 40px;
    height: 40px;
    .icon {
      margin-right: 0;
    }
    float: right;
    margin-top: -50px;
  }
}