.profile {

  &-donates {
    &-table {
      @include maxWidth;
      
      @include media-breakpoint-down(md) {
        margin: 0 (-$grid-gutter-width/3);
      }
      
      &-row {
        @include clearfix;
        @include fontSize(15px);
        @include lineHeight(24px);
        position: relative;
        
        @include media-breakpoint-up(lg) {
          border-radius: 5px;
        }
        @include media-breakpoint-up(md) {
          padding: 10px 10px 14px;
          margin: 0 -10px;
          display: flex;
        }
        @include media-breakpoint-down(md) {
          background: #fff;
          border-top: #e5e5e5 2px solid;
          border-bottom: #e5e5e5 2px solid;
          margin: 10px 0;
        }
        @include media-breakpoint-down(sm) {
          padding: $grid-gutter-width/3;
        }
        
        
        &-cell {
          @include media-breakpoint-up(md) {
            float: left;
            display: inline-flex;
            align-items: center;
          }
        }
        
        &-icon {
          @extend .tableIcon;
          justify-content: center;
        }
        &-title {
          font-weight: 700;
          color: #000;
          @include media-breakpoint-up(md) {
            flex-wrap: wrap;
            padding: 4px 10px;
            width: 25%;
            .marathone & {
              width: 33%;
            }
          }
          span {
            font-weight: 400;
            display: block;
            color: $blue-dark;
          }
        }
        &-info {
          @include media-breakpoint-up(md) {
            width: 30%;
            padding: 4px 10px;
          }
        }
        &-sum,
        &-sumShort {
          font-weight: 700;
          padding-bottom: 12px;
          @include media-breakpoint-up(md) {
            width: 15%;
            padding: 4px 10px;
            .marathone & {
              width: 30%;
              float: right;
            }
          }
        }
        &-sumShort {
          @include media-breakpoint-up(lg) {
            width: 10%;
          }
        }
        &-action {
          @include media-breakpoint-up(md) {
            float: right;
            text-align: right;
            padding: 9px 10px;
            transition: opacity 0.3s ease;
          }
          @include media-breakpoint-up(lg) {
            opacity: 0;
          }
          
          &-mobile {
            position: absolute;
            right: 15px;
            top: 15px;
            
            a {
              border-width: 0;
            }
          }
          
        }
        
        &-period {
          padding-bottom: 12px;
          width: 100%;
          @include media-breakpoint-up(lg) {
            width: 12%;
            padding: 4px 10px;
            .marathone & {
              width: 30%;
              float: right;
            }
          }
        }
        &-status {
          width: 100%;
          padding-bottom: 12px;
          @include media-breakpoint-up(lg) {
            width: 12%;
            padding: 4px 10px;
            .marathone & {
              width: 30%;
              float: right;
            }
          }
          .status {
            display: inline-block;
            vertical-align: top;
            margin: 9px 5px 0 0;
          }
        }
        &-text {
          width: 100%;
          padding-bottom: 12px;
          @include media-breakpoint-up(lg) {
            width: 30%;
            padding: 4px 10px;
            .marathone & {
              width: 30%;
              float: right;
            }
          }
        }
        
        @include media-breakpoint-up(lg) {
          &:hover {
            background-color: #fbf9f6;
          }
          &:hover &-action {
            opacity: 1;
          }
        }
        
      }
    }
    &-del,
    &-edit {
      background-color: white;
      border: 2px solid rgba(234, 85, 40, 0.6);
      border-radius: 5px;
      @include fontSize(13px);
      @include lineHeight(18px);
      color: $brand-danger;

      &:hover ,
      &:active {
        color: $brand-danger;
      }
      
      @include media-breakpoint-down(sm) {
        float: right;
        margin-left: 32px;
      }
          
    }
    
    &-edit {
      /* background: rgba(234, 85, 40, 0.6); */
      /* color: #fff !important; */
    }
    
    
    /* Modal Form */
    &-typicalSum {
      max-width: 500px;
      margin: $grid-gutter-width 0;
    }
    
    &-typeSum {
      h2 {
        margin: 10px 0 25px;
      }
    }
    
    
    
  }
 
  &-form {
    padding-bottom: 20px;
    @include clearfix;
    
    @include maxWidth;
    
    .form-group {
      clear: both;
      @include clearfix;
    }
    
    label {
      margin-bottom: 13px;
      display: block;
      *[type='checkbox'] {
        margin-right: 4px;
      }
    }
  
    &-label {
      @include media-breakpoint-up(md) {
        width: 160px;
        float: left;
        margin-bottom: 4px;
        margin: 6px 0 4px;
      }
    }
    &-input {
      overflow: hidden;
      position: relative;
      
      &-short {
        @include media-breakpoint-up(md) {
          max-width: 320px;
        }
      }
      
      &-float {
        @include media-breakpoint-up(md) {
          float: left;
          margin-right: 10px;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
      }
      
    }
    textarea {
      height: 120px;
      min-height: 120px;
    }
    
    &-offset {
      @include media-breakpoint-up(md) {
        margin-left: 160px;
      }
    }
   
    button {
      .icon-plus {
        margin-top: -4px;
        margin-bottom: -2px;
      }
    }
    
    &-action {
      .btn {
        @include media-breakpoint-down(xs) {
          width: 100%;
          margin: 10px 0;
        }
      }
    }
   
   
    &-files {
      margin: 0 -5px;
      max-width: 690px;
      letter-spacing: -0.4em;
    
      &-item {
        width: 33.33%;
        padding: 5px;
        display: inline-block;
        vertical-align: top;
        position: relative;
      
        &-image {
          overflow: hidden;
          border-radius: 5px;
          display: block;
        }
        &-delete {
          position: absolute;
          left: 10px;
          top: 10px;
          opacity: 0;
          transition: opacity 0.3s ease;
          cursor: pointer;
        }
        &-rotate {
          position: absolute;
          right: 10px;
          top: 10px;
          opacity: 0;
          transition: opacity 0.3s ease;
          cursor: pointer;
        }
        
        &:hover &-delete,
        &:hover &-rotate {
          opacity: 1 !important;
        }
        
        
        &-add {
          border: 2px #e5e5e5 solid;
          border-radius: 5px;
          display: block;
          text-align: center;
          position: relative;
          height: 0;
          padding-bottom: 75%;
          
          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -21px 0 0 -27px;
          }
          
          
        }
        
      }
    }
  }
 
  @import "_profile_personal";
}