.becomeMember {
  border-top: 2px solid #e5e5e5;
  padding: 30px 0 60px;
  &-form {
    h3 {
      margin: 40px 0 18px;
    }
    .form-group {
      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
      }
    }
    .btn-toolbar {
      @include media-breakpoint-up(md) {
        float: right;
      }
    }
    textarea {
      min-height: 120px;
    }
    
    .error {
      float: left;
      clear: left;
      width: 100%;
      margin-top: -25px;
      
      @include media-breakpoint-up(lg) {
        margin-left: 32.2%;
        margin-bottom: 15px;
      }
      @include media-breakpoint-down(md) {
        @include media-breakpoint-up(md) {
          margin-left: 41%;
          margin-bottom: 15px;
        }
      }
    }
  }
}