.donateCarousel {
  $itemPadding: 10px;
  padding-bottom: 90px !important;
  
  &-list {
    &-item {
      position: relative;
      padding: $itemPadding ($itemPadding+5px) ($itemPadding + 45px) ($itemPadding+5px);
      //background: #fff url("../images/face.png") no-repeat 200% 50%;
      @include fontSize(13px);
      @include lineHeight(16px);
      
      background-repeat: no-repeat;
      background-position: 100% 100%;
      
      &.iconBackground {
        &-old {
          background-image: url("../images/icons/old_start.png");
        }
        &-child {
          background-image: url("../images/icons/child_02_start.png");
        }
        &-pet {
          background-image: url("../images/icons/pet_start.png");
        }
        &-other {
          background-image: url("../images/icons/other_start.png");
        }
      }
    
      h4 {
        margin: 5px 0 3px;
      }
    
      &-sum {
        color: #2a2a2a;
        font-weight: 700;
        @include fontSize(18px);
        @include lineHeight(24px);
      }
    
      &-person,
      &-date {
        position: absolute;
        left: $itemPadding+5px;
        opacity: 0.6;
      }
      &-date {
        bottom: $itemPadding;
      }
      &-person {
        bottom: 30px;
      }
      &-text {
        @include fontSize(13px);
        @include lineHeight(21px);
      }
    }
  }
  
  &-linkAll {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    .btn {
      min-width: 300px;
    }
  }
  
}