.tales {
  &-title {
    margin-top: 0;
    margin-bottom: 28px;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
    padding: 20px $grid-gutter-width 23px;
    background: #fff;
  }
  
  &-white {
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    background: $gray-contentBackground;
  }
}